# ===== BACKEND =====

/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/.idea
/backend/.DS_Store
/backend/.env
/backend/HELP.md
/backend/build/
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

# ===== IDEA PROJECT =====

.idea/
.idea/shelf/
.idea/workspace.xml
.idea/mavenHomeManager.xml

# ===== GLOBAL SYSTEM/IDE FILES =====

*.iml
*.ipr
*.iws
*.launch
*.classpath
*.project
.settings/
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
*.log

# ===== GENERAL =====

.env
